{% extends "base.html" %}
{% block content %}

<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-4">
                                <h5 class="card-title mb-0">Gas Loans</h5>
                            </div>
                            <div class="col-7">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="name" name="name" placeholder="loan Name ..." />
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="form-group">
                                                <input type="submit" class="form-control btn btn-primary"
                                                    value="Search">
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Customer</th>
                                <th scope="col">Item</th>
                                <th scope="col">Expected</th>
                                <th scope="col">Paid</th>
                                <th scope="col">Installment</th>
                                
                            </tr>
                        </thead>
                        <tbody>

                            {% for loan in loans %}
                            <tr>
                                <td>{{loan.id}}</td>
                                <td>{{loan.customer}}</td>
                                <td>{{loan.item}}</td>
                                <td>{{loan.expected_amount}}</td>
                                <td>{{loan.amount_paid}}</td>
                                <td>{{loan.item.installment_amount}}</td>
                                
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>



{% endblock content %}