{% extends "base.html" %}
{% block content %}

<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-5">
                                <h5 class="card-title mb-0">LOAN DETAIL</h5>
                            </div>
                            <div class="col-7">
                                
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Amount</th>
                                <th>Amount Repaid</th>
                                <th>Balance</th>
                                <th>Status</th>
                               
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td>{{loan.id}}</td>
                                <td>{{loan.amount_borrowed}}</td>
                                <td>{{loan.amount_repaid}}</td>
                                <td>{{loan.balance}}</td>
                                <td>Active</td>
                                
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card flex-fill">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h3 class="card-title">LOANED ITEMS</h3>
                            </div>

                            <div class="col-6">
                                <a href="{% url 'new-loan-item' loan.id loan.customer.id %}" class="btn btn-success">Add Item</a>
                             </div>
                            
                        </div>
                    </div>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in borrowed_items %}
                            <tr>
                                <td>{{item.id}}</td>
                                <td>{{item.item}}</td>
                                <td>{{item.quantity}}</td>
                                <td>{{item.loan_amount}}</td>
                                
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="card flex-fill">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h3 class="card-title">PAYMENTS</h3>
                            </div>

                            <div class="col-6">
                                <a href="{% url 'pay-item-loan' loan.customer.id loan.id %}" class="btn btn-success">Pay Loan</a>
                             </div>
                            
                        </div>
                    </div>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Amount</th>
                                <th>Paid At.</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for payment in loan_payments %}
                            <tr>
                                <td>{{payment.id}}</td>
                                <td>{{payment.amount}}</td>
                                <td>{{payment.created}}</td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>



{% endblock content %}