{% extends "base.html" %}
{% block content %}


<main class="content">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12 col-lg-12 col-xxl-12 d-flex">
                <div class="card flex-fill">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-5">
                                <h5 class="card-title mb-0">MONEY LOANS</h5>
                            </div>
                            <div class="col-7">
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="row">
                   
                                        <div class="col-4">
                                            <div class="form-group">
                                                <input type="text" class="form-control form-control-lg" id="id_number" name="id_number" placeholder="ID Number" />
                                            </div>
                                        </div>
                                        <div class="col-5">
                                            <div class="form-group">
                                                <select class="form-control" id="kiosk" name="kiosk">
                                                    
                                                        <option>Paid</option>
                                                    
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-3">
                                            <div class="form-group">
                                                <input type="submit" class="form-control btn btn-primary"
                                                    value="Search">
                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                    <table class="table table-hover my-0">
                        <thead>
                            <tr>
                                <th>Customer</th>
                                <th>Amount Awarded</th>
                                <th>Amount Paid</th>
                                <th>Date Awarded</th>
                                <th>Expected Date</th>
                                <th>Interest</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for loan in money_loans %}
                            <tr>
                                <td>{{loan.customer}}</td>
                                <td>{{loan.amount_awarded}}</td>
                                <td>{{loan.amount_repaid}}</td>
                                <td>{{loan.date_awarded}}</td>
                                <td>{{loan.expected_repay_date}}</td>
                                <td>{{loan.interest_accrued}}</td>
                                <td>
                                    <a href="{% url 'money-loan-detail' loan.id %}" class="btn btn-info">Details</a>
                                </td>
                            </tr>
                            {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</main>



{% endblock content %}